<nav class="breadcrumb">
    <ul class="breadcrumb__list">
        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">audit</a></li>
        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Rewrite and improve existing text</a></li>
        <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Transform notes to audit documentation</a></li>
    </ul>
</nav>