<nav>
  <ul class="navbar">
      <img class="logo" src="/assets/headstart-logo.png" alt="Head start logo" width="30px" height="30px">
      <h2 class="gash">Headstart</h2>
      <h2 class="dot">Deloitte</h2>
      <div class="hamburger-container">
          <label for="hamburger">
              <svg 
                  xmlns="http://www.w3.org/2000/svg" 
                  viewBox="0 0 24 24" 
                  width="24" 
                  height="24">
                  <path 
                    fill="none" 
                    d="M0 0h24v24H0z"/>
                  <path 
                    fill="currentColor" 
                    d="M4 5h16v2H4zM4 11h16v2H4zM4 17h16v2H4z"/>
              </svg>
          </label>
          <input id="hamburger" type="radio" aria-label="hamburger menu">
      </div>
  </ul>
</nav>
