<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

    <nav class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
            <li class="breadcrumb__item"><a href="/audit" class="breadcrumb__link">Audit</a></li>
        </ul>

        <h1 class="head">Choose one of the following prompts for your audit</h1>
        
        <nav class="secondbuttons">
            <img class="secondbuttons__img" src="/assets/headstart-logo.png" alt="headstart logo">
            <a href="/financialReview" class="secondbuttons__link">Financial Review</a>
            <a href="/complianceCheck" class="secondbuttons__link">Compliance check</a>
        </nav>
    </nav>
      
    <%- include('./partials/foot') %>

</body>
</html>