<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

    <%- include('./partials/breadcrumb') %>


        <nav class="buttons">
            <a href="/financialReview" class="buttons__link">Financial Review</a>
            <a href="/complianceCheck" class="buttons__link">Compliance check</a>
        </nav>
  
      
    <%- include('./partials/foot') %>

</body>
</html>