<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="/audit" class="breadcrumb__link">Audit</a></li>
                    <li class="breadcrumb__item"><a href="/complianceCheck" class="breadcrumb__link">Compliance check</a></li>
                </ul>
            </nav>
            
                <form class="form" action="">
                    <h1 class="form__header">Create compliance check prompt</h1>
                    <% allPrompts.forEach(prompt => { %>      
                        <p class="form__paragraph">
                            <%- prompt.text.replace("{{ Last Compliance Review Date }}", '<input class="form__input" type="date" name="Last_compliance_review_date" placeholder="Last compliance review date">')
                                        .replace("{{ Compliance Officer }}", '<input class="form__input" type="text" name="Compliance_officer" placeholder=" Compliance officer">')
                                        .replace("{{ Compliance Document }}", '<input class="form__input" type="file" name="Compliance_Document" placeholder="Compliance Document">') %>
                        </p>
        
                        <div class="form__container--buttons">
                            <input class="form__button" type="submit" value="Start conversation using this prompt">
                            <input class="form__cancel" type="reset" value="cancel" />
                        </div>
                    <% }) %>
                </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>