<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

    <%- include('./partials/breadcrumb') %>


        <nav class="buttons">
            <a href="/documentProcessing" class="buttons__link">Document Processing</a>
            <a href="/clientMeetings" class="buttons__link">Client Meetings</a>
        </nav>
  
      
    <%- include('./partials/foot') %>

</body>
</html>