<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

    <nav class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
            <li class="breadcrumb__item"><a href="/Consulting" class="breadcrumb__link">Consulting</a></li>
        </ul>

        <h1 class="head">Choose one of the following prompts for your consulting</h1>

        <nav class="secondbuttons">
            <img class="secondbuttons__img" src="/assets/headstart-logo.png" alt="Headstart logo">
            <a href="/documentProcessing" class="secondbuttons__link">Document Processing</a>
            <a href="/clientMeetings" class="secondbuttons__link">Client Meetings</a>
        </nav>
    </nav>
      
    <%- include('./partials/foot') %>

</body>
</html>