<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">
            
            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="/audit" class="breadcrumb__link">Audit</a></li>
                    <li class="breadcrumb__item"><a href="/financialReview" class="breadcrumb__link">Financial Review</a></li>
                </ul>
            </nav>
        
            <form class="form" action="/financialReview" method="POST">
                <h1 class="form__header">Create financial review prompt</h1>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Financial Statement File }}", '<input class="form__input" type="text" name="financial_statement_file" placeholder="Financial Statement File">')
                                    .replace("{{ Review Date }}", '<input class="form__input" type="date" name="review_date" placeholder="Review Date">')
                                    .replace("{{ Lead Auditor }}", '<input class="form__input" type="text" name="lead_auditor" placeholder="Lead Auditor">') %>
                    </p>

                    <button type="submit" class="button__link--Secondary">Start conversation using this prompt</button>

                    <a class="form__cancel" href="">Cancel</a>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>
