<%- include('./partials/head') %>

<body>

    <%- include('./partials/nav') %>

    <nav class="breadcrumb">
        <ul class="breadcrumb__list">
            <li class="breadcrumb__item"><a href="" class="breadcrumb__link">Home</a></li>
        </ul>

        <h1 class="head">Choose one of the following prompts</h1>
    
        <section>
        <nav class="buttons">
            <img class="buttons__img" src="/assets/headstart-logo.png" alt="Head start logo" width="30px" height="30px">
            <a href="/audit" class="buttons__link">Audit</a>
            <a href="/innovation" class="buttons__link">Innovation</a>
            <a href="/consulting" class="buttons__link">Consulting</a>
        </nav>
        </section>
    </nav>
    
  
      
    <%- include('./partials/foot') %>

</body>
</html>


