<%- include('./partials/head') %>

<body>
    <%- include('./partials/nav') %>

    <%- include('./partials/breadcrumb') %>

        <button class="buttonAudit"><a href="">Audit</a></button>
        <button class="buttonConsulting"><a href="">Consulting</a></button>
        <button class="buttonInnovation"><a href="">Innovation</a></button>

    <%- include('./partials/foot') %>

</body>
</html>


