<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="/innovation" class="breadcrumb__link">Innovation</a></li>
                    <li class="breadcrumb__item"><a href="/marketResearch" class="breadcrumb__link">Market research</a></li>
                </ul>
            </nav>
        
            <form class="form" action="">
                <h1 class="form__header">Create market research prompt</h1>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Survey Results }}", '<input class="form__input" type="file" name="Survey_Results" placeholder="Survey Results">')
                                    .replace("{{ Survey Completion Date }}", '<input class="form__input" type="date" name="Survey_Completion_Date" placeholder="Survey Completion Date">')
                                    .replace("{{ Survey Coordinator }}", '<input class="form__input" type="text" name="Survey_Coordinator" placeholder="Survey Coordinator">') %>
                    </p>

                    <div class="form__container--buttons">
                        <input class="form__button" type="submit" value="Start conversation using this prompt">
                        <input class="form__cancel" type="reset" value="cancel" />
                    </div>
                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>