<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="innovation" class="breadcrumb__link">Innovation</a></li>
                    <li class="breadcrumb__item"><a href="/productLaunchPlanning" class="breadcrumb__link">Product launch planning</a></li>
                </ul>
            </nav>
        
            <form class="form" action="">
                <h1 class="form__header">Create product launch prompt</h1>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Launch Date }}", '<input class="form__input" type="date" name="Launch_Date" placeholder="Launch Date">')
                                    .replace("{{ Marketing Budget }}", '<input class="form__input" type="number" name="Marketing_Budget" placeholder="Marketing Budget">')
                                    .replace("{{ Project Manager }}", '<input class="form__input" type="text" name="Project_Manager" placeholder="Project Manager">') %>
                    </p>

                    <div class="form__container--buttons">
                        <input class="form__button" type="submit" value="Start conversation using this prompt">
                        <input class="form__cancel" type="reset" value="cancel" />
                    </div>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>