<%- include('./partials/head') %>

<body>
        <%- include('./partials/nav') %>

        <main class="main">

            <nav class="breadcrumb">
                <ul class="breadcrumb__list">
                    <li class="breadcrumb__item"><a href="/" class="breadcrumb__link">Home</a></li>
                    <li class="breadcrumb__item"><a href="/innovation" class="breadcrumb__link">Innovation</a></li>
                    <li class="breadcrumb__item"><a href="/productDevelopment" class="breadcrumb__link">Product development</a></li>
                </ul>
            </nav>
        
            <form class="form" action="">
                <h1 class="form__header">Create product development prompt</h1>
                <% allPrompts.forEach(prompt => { %>      
                    <p class="form__paragraph">
                        <%- prompt.text.replace("{{ Product Features }}", '<input class="form__input" type="text" name="Product_Features" placeholder="Product Features">')
                                    .replace("{{ Target Market }}", '<input class="form__input" type="text" name="Target_Market" placeholder="Target Market">')
                                    .replace("{{ Estimated Cost }}", '<input class="form__input" type="number" name="Estimated_Cost" placeholder="Estimated Cost">') %>
                    </p>

                    <button type="submit" class="button__link--Secondary">Start conversation using this prompt</button>

                    <a class="form__cancel" href="">Cancel</a>

                <% }) %>
            </form>
        
        </main> 
        
        <%- include('./partials/foot') %>
    </div>
</body>
</html>